/* TITLE OF CONTAINER */
.title-of-container h1 {
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}

.title-of-container {
    margin-top: 80px;
}

/* FLEX CONTAINTER SETTINGS */
.flex-main-container-one, .flex-container-two {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 70px;
    line-height: 95px;
    margin-top: 0px;
}

.sith-path-box, .jedi-path-box, .bounty-hunter-path-box, .imperial-path-box, .rebel-path-box, .smuggler-path-box, .characters-box, .beats-box, .planets-box, .vehicles-box, .wars-info-box, .timeline-box {
    width: 375px;
    background-color: #ffffff;
    height: 100px;
    text-align: center;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 40px;
    border-radius: 20px;
}

.sith-path-box a, .jedi-path-box a, .bounty-hunter-path-box a, .imperial-path-box a, .rebel-path-box a, .smuggler-path-box a, .characters-box a, .beats-box a, .planets-box a, .vehicles-box a, .wars-info-box a, .timeline-box a {
    font-size: 40px;
    text-decoration: none;
}

/* TEXT COLOR */
.sith-path-box a, .characters-box a {
    color: #950505;
}

.jedi-path-box a, .beats-box a {
    color: #01b2bb;
}

.bounty-hunter-path-box a, .planets-box a {
    color: #019b11;
}

.imperial-path-box a, .vehicles-box a {
    color: #404040;
}

.rebel-path-box a, .wars-info-box a {
    color: #9b5801;
}

.smuggler-path-box a, .timeline-box a {
    color: #656565;
}


/* BORDER SETTINGS */
.sith-path-box, .jedi-path-box, .bounty-hunter-path-box, .imperial-path-box, .rebel-path-box, .smuggler-path-box, .characters-box, .beats-box, .planets-box, .vehicles-box, .wars-info-box, .timeline-box {
    border-style: solid;
}

.sith-path-box, .characters-box {
    border-color: #950505;
}

.jedi-path-box, .beats-box {
    border-color: #01b2bb;
}

.bounty-hunter-path-box, .planets-box {
    border-color: #019b11;
}

.imperial-path-box, .vehicles-box {
    border-color: #404040;
}

.rebel-path-box, .wars-info-box {
    border-color: #9b5801;
}

.smuggler-path-box, .timeline-box {
    border-color: #656565;
}